<section class="services" id="services">
  <div class="title">
    <h2 style="font-family: 'Science Gothic'">Services</h2>
    <hr />
    <div class="desc">
      <p>
        I design and develop fast, secure, and scalable web applications. From
        UI design to backend APIs and deployment, I deliver complete web
        solutions tailored to real business needs.
      </p>
    </div>
  </div>
  <div class="content">
    <div class="card">
      <h6>Frontend Development</h6>
      <p>
        I build responsive, user-friendly interfaces that work smoothly across
        all devices. Focused on clean layouts, performance, and seamless API
        integration.
      </p>
      <img
        src="https://firebasestorage.googleapis.com/v0/b/naniportfolio-cadd2.appspot.com/o/Portfolio%20icons%20angula%2Fwesbite%20developer.png?alt=media&token=de4d59f2-6541-405a-93a8-3ee20ddbd9d7"
        alt=""
      />
      <div class="btn">
        <button>View More</button>
      </div>
    </div>

    <div class="card">
      <h6>End-to-End Development</h6>
      <p>
        I handle the full development process — frontend, backend, database, and
        deployment with CRUD. Ensuring consistency, stability, and scalable
        system design.
      </p>
      <img
        src="https://firebasestorage.googleapis.com/v0/b/naniportfolio-cadd2.appspot.com/o/Portfolio%20icons%20angula%2Fend%20to%20end.png?alt=media&token=898495e0-9a85-44dd-af3b-7b3f1b71ace1"
        alt=""
      />
      <div class="btn">
        <button>View More</button>
      </div>
    </div>
    <div class="card">
      <h6>Website Development</h6>
      <p>
        I develop complete websites that are fast, reliable, and easy to
        maintain. From structure to deployment, everything is built for
        real-world use.
      </p>
      <img
        src="https://firebasestorage.googleapis.com/v0/b/naniportfolio-cadd2.appspot.com/o/Portfolio%20icons%20angula%2Fbackend.png?alt=media&token=8df9d6d0-99b9-4084-8149-47578d5ec55b"
        alt=""
      />
      <div class="btn">
        <button>View More</button>
      </div>
    </div>
    <div class="card">
      <h6>Website Conversion & Bug Fixing</h6>
      <p>
        I fix bugs, clean existing code, and improve website performance. I also
        convert outdated websites into modern, responsive systems.
      </p>
      <img
        src="https://firebasestorage.googleapis.com/v0/b/naniportfolio-cadd2.appspot.com/o/Portfolio%20icons%20angula%2Fweb%20bug.png?alt=media&token=3938f0c2-2fa5-44c1-b57a-5cbfc5f9c75c"
        alt=""
      />
      <div class="btn">
        <button>View More</button>
      </div>
    </div>
  </div>
</section>
