<section class="services" id="services">
  <div class="title">
    <h2 style="font-family: 'Science Gothic';">Services</h2>
    <hr />
    <div class="desc">
      <p>
        I design and develop fast, secure, and scalable web applications.
        From UI design to backend APIs and deployment, I deliver complete
        web solutions tailored to real business needs.
      </p>
    </div>
  </div>
<div class="content">
  <div class="card">
    <h6>Website Development</h6>
    <p>
      I design and develop fast and scalable web applications
      using modern technologies. From UI design to backend APIs and deployment.
    </p>
    <div class="btn">
    <button>View More</button>
    </div>
  </div>

  <div class="card">
    <h6>End-to-End Development</h6>
    <p>
      Comprehensive development solutions from concept to deployment.
      I handle every aspect of the development maintenance.
    </p>
    <div class="btn">
    <button>View More</button>
    </div>
  </div>
  <div class="card">
    <h6>End-to-End Development</h6>
    <p>
      Comprehensive development solutions from concept to deployment.
      I handle every aspect of the development lifecycle including
      
    </p>
    <div class="btn">
    <button>View More</button>
    </div>

</div>
  <div class="card">
    <h6>End-to-End Development</h6>
    <p>
      Comprehensive development solutions from concept to deployment.
      I handle every aspect of the development lifecycle including
    </p>
    <div class="btn">
    <button>View More</button>
    </div>
</div>
</div>


</section>
