 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 html,
 body {
     width: 100%;
     height: 100%;
     background-color: transparent;
 }

 section {

     padding: 100vw 4.7vw;
     background-color: #222;
 }

 #services {
     height: 130vh;
     background-color: #222;
     padding: 6.5vw 4vw;
     margin-top: 8vw;
 }

 .title {
     text-align: center;
     margin: 0vw 0;
     position: relative;
     padding: 0 1rem;
 }

 .title h2 {
     font-size: 2.6vw;
     font-weight: 700;
     margin-bottom: 1rem;
     color: #fff;
     font-family: 'Science Gothic';
     text-transform: uppercase;
     position: relative;
     display: inline-block;
     letter-spacing: 1px;
 }

 .title h2::after {
     content: '';
     position: absolute;
     width: 60px;
     height: 3px;
     background: #666;
     bottom: -10px;
     left: 50%;
     transform: translateX(-50%);
 }

 .title .desc {
     max-width: 700px;
     margin: 2rem auto 0;
 }

 .title .desc p {
     color: #aaa;
     font-size: 1.1vw;
     line-height: 1.8;
     margin-top: 1.5rem;
     font-weight: 300;
     letter-spacing: 0.5px;
 }

 .content .one {
     width: 50%;
     height: 30vw;
     display: flex;
 }

 .card {
     width: 70%;
     height: 18vw;
     display: flex;
     flex-direction: column;
     align-items: center;
     border: 1.4px solid #fff;
     color: #fff;
     border-radius: 10px;
     margin: 1vw;
     padding: 1.2vw;
     gap: 1vw;
     background-color: #111;

 }

 .c1 p {
     color: #fff;
     text-align: justify;
     font-size: 1.1vw;
     font-weight: lighter;

 }

 .btn {
     display: flex;
     justify-content: center;

 }

 .btn button {
     position: relative;
     z-index: 1;
     padding: .4vw .8vw;
     text-decoration: none;
     color: #111;
     font-weight: bold;
     letter-spacing: 0.5px;
     background: transparent;
     border: 1px solid #919191;
     border-radius: 30px;
     overflow: hidden;
     transition: color 0.4s ease;
     font-family: 'Science Gothic';
     font-size: 1vw;
     background-color: #a1a1a1b7;
 }


 .btn button:hover {
     color: white;
     background-color: black;
     transform: scale(1.1);
     transition: all 0.3s ease;
     cursor: pointer;
     border: 2px solid #fff;

 }



 .btn button:hover::after {
     transform: scale(1.05);
 }

 .btn button:hover::before {
     transform: scale(1.1);
 }



 .second-card {
     width: 70%;
     height: 50%;
     display: flex;
     flex-direction: column;
     align-items: center;
     border: 1.4px solid #111;
     border-radius: 10px;
     margin: 1vw;
     padding: 1.2vw;
     gap: 1vw;
 }

 .content {
     display: flex;
     gap: 2vw;
 }

 .card {
     width: 50%;
     border: 1.4px solid #111;
     border-radius: 10px;
     padding: 1.5vw;
     display: flex;
     flex-direction: column;
     gap: 1vw;
 }

 .card p {
     font-size: 1.1vw;
     text-align: justify;
 }